<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <!-- <link rel="stylesheet" href="/public/style.css"> -->
</head>
<style>
    * {
    
    box-sizing: border-box;
    font-family: ' Arial';
}

.results{
   
    text-align: center;
    font-size: 20px;
    color: rgb(147, 75, 75);
}


.main {
    margin: 15px;
}

fieldset {
    border: 1px solid black;
}

.basic {
    display: flex;

}
.container {
    width: 100%;
}

.one,
.two {
    width: 50%;
}

.education {
    gap: 200px;
}

.ssc,
.hsc  {
    display: flex;
  
}


.bachelor,
.master  {
    display: flex;
   
}

.ssc label,.hsc label,.master label,.bachelor label{
    width: 33.33%;
}



.exp {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
    width: 100%;
}



.langtech,.technology{
    display: flex;
    width: 100%;
}

input{
    padding: 3px 5px;
    /* border-radius: 5px; */
    border: 1px solid rgb(11, 10, 10);
}

select{
    background-color: rgb(255, 255, 255);
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid rgb(160, 153, 153);   
}

.btn{
   
        display: flex;
        align-content: center;
        gap: 20px;
        padding: 0 0 20px;
    
}

.lang,
.tech {
    width: 50%;
}

.langdetail {
    display: flex;
}

.ref{
    display: flex;
    gap: 105px; 
    width: 33.33%;
    padding-bottom: 5px;
}

.ref label{
    width: 33.33%;
}

.pref1 {
    display: flex;
    gap: 100px;
    padding-bottom: 5px;
} 

.pref2 {
    display: flex;
    gap: 63px;
    padding-bottom: 5px;
}

fieldset
{
    width: 100%;
}



.second
{
    display: none;
    
}
.three
{
    display: none;
  
}
.four
{
    display: none;
   
}
.five
{
    display: none;
   
}
.six
{
    display: none;
   
}
#prev
{
    visibility: hidden;
}

</style>



<body>
    <div>
        <h3 style="text-align: center;">yashvi_soladhra</h2>
        <h4 style="text-align: center;">Employee ID24DEV097</h3>    
        <h2 style="text-align: center;">Job_Application_Form</h3>
        <div class="results">
          
           
        </div>
      
        <div class="main">
            <form action="/job" method="post" onsubmit="return validate()">

                <div class="first">
                <div class="container">
                    <fieldset>
                        <legend>
                            <h4>Basic Details </h4>
                        </legend>
                        <div class="basic">
                            <div class="one">
                                <p>
                                <input type="hidden" name="candid" id="candid" >
                               </p>
                              
                                <p>
                                    <label for="fname">First Name:</label>
                                    <input type="text" name="fname" id="fname" class="required" >
                                </p>
                                <p>
                                    <label for="designation">Designation:</label>
                                    <input type="text" name="currdesignation" id="designation" class="required" >
                                </p>
                                <p>
                                    <label for="email">Email:</label>
                                    <input type="text" name="email" id="email" class="required" >
                                </p>
                                <p id="gender">
                                    <label for="gender">Gender:
                                        <input type="radio" name="gender" id="male" value="Male"  ><label
                                            for="male">Male</label>
                                        <input type="radio" name="gender" id="female" value="Female" ><label
                                            for="female">Female</label>
                                       
                                    </label>
                                </p>
                                <p>
                                    <label for="address">Address:</label>
                                    <input type="text" name="address" id="address" class="required" >
                                </p>
                                <p>
                                    <label for="state">State:</label>
                                    <select name="state" id="state" class="required">
                                        <option value="" >Select option</option>
                                        <option value="Gujrat"  >Gujrat</option>
                                        <option value="Rajsthan" >Rajsthan</option>
                                       
                                    </select>
                                </p>
                            </div>

                            <div class="two">
                                <p>
                                    <label for="lname">Last Name:</label>
                                    <input type="text" name="lname" id="lname" class="required" >
                                </p>
                                <p>
                                    <label for="dob">Birthdate:</label>
                                    <input type="text" name="dob" id="dob" class="required" >
                                </p>
                                <p>
                                    <label for="phone">Phone No. :</label>
                                    <input type="text" name="phone" id="phone" class="required" >
                                </p>
                                <p>
                                    <label for="relnstatus">Relationship Status:</label>
                                    <select name="relnstatus" id="relnstatus" class="required">
                                        <option value="">Select option</option>
                                        <option value="Unmerried" >Unmerried</option>
                                        <option value="Merried" >Merried</option>
                                       
                                    </select>
                                </p>
                                <p>
                                    <label for="city">City:</label>
                                    <input type="text" name="city" id="city" class="required" >
                                </p>
                                <p>
                                    <label for="zipcode">Zipcode:</label>
                                    <input type="text" name="zipcode" id="zipcode" class="required" >
                                </p>
                            </div>

                        </div>

                    </fieldset>
                </div>
         
            </div>

            <div class="second">

            
                <fieldset>
                    <legend>
                        <h4>Education Details</h4>
                    </legend>
                    <div class="education">
                        <h4>Ssc Result</h4>
                        <div class="ssc">

                            <label for="sscnameofboard">Name of Board:
                                <input type="text" name="sscnameofboard" id="sscnameofboard" class="required"></label>
                            <label for="passingyear">Passing Year:
                                <input type="text" name="sscpassingyear" id="sscpassingyear" class="required"></label>
                            <label for="percentage">Percentage:
                                <input type="text" name="sscpercentage" id="sscpercentage"  class="required"></label>
                        </div>
                        <hr>

                        <h4>Hsc/Diploma Result</h4>
                        <div class="hsc">

                            <label for="hscnameofboard">Name of Board:
                                <input type="text" name="hscnameofboard" id="hscnameofboard" class="required"  ></label>
                            <label for="passingyear">Passing Year:
                                <input type="text" name="hscpassingyear" id="hscpassingyear" class="required" ></label>
                            <label for="percentage">Percentage
                                <input type="text" name="hscpercentage" id="hscpercentage" class="required"  ></label>
                        </div>

                        <hr>

                        <h4>Bachelor Degree</h4>
                        <div class="bachelor">
                           
                                
                                <label for="bachelorcourse">Course Name:
                                <select name="bachelorcourse" id="bachelorcourse">
                                    <option value="" >Select Option</option>
                                    <option value="BA" >BA</option>
                                    <option value="BCOM" >BCOM</option>
                                    <option value="BSC" >BSC</option>
                                    <option value="BSC IT" >BSC IT</option>
                                    <option value="BE" >BE</option>
                                    <option value="BCA" >BCA</option>

                                </select></label>
                          
                                
                                <label for="bachelorpassingyear">Passing Year:
                                <input type="text" name="bachelorpassingyear" id="bachelorpassingyear" class="passingyear"  ></label>

                           
                                <label for="bachelorpercentage">Percentage
                                <input type="text" name="bachelorpercentage" id="bachelorpercentage"  ></label>

                            
                        </div>

                        <hr>

                        <h4>Master Degree</h4>
                        <div class="master">
                            <label for="mastercourse">Course Name:
                                  <select name="mastercourse" id="mastercourse">
                                    <option value="">Select Option</option>
                                    <option value="MA" >MA</option>
                                    <option value="MCOM" >MCOM</option>
                                    <option value="MSC" >MSC</option>
                                    <option value="MSC IT">MSC IT</option>
                                    <option value="ME" >ME</option>
                                    <option value="MCA" >MCA</option>
                                    
                                </select></label>
                           
                            <label for="masterpassingyear">Passing Year:
                                <input type="text" name="masterpassingyear" id="masterpassingyear" class="passingyear"></label>
                            <label for="masterpercentage">Percentage:
                                <input type="text" name="masterpercentage" id="masterpercentage" ></label>
                        </div>



                    </div>
                </fieldset>
            </div>

            <div class="three">

                <div class="work">

                    <fieldset>
                        <legend>
                            <h4>Work Experience</h4>
                        </legend>
                      
                       

                        <div class="works">
                            <input type="hidden" name="workid[]" id="work1" >
                            <div class="exp">
                                <label for="companyname1">Company Name:
                                <input type="text" name="companyname[]" id="companyname1"   ></label>
                                <label for="designation1">Designation:
                                <input type="text" name="designation[]" id="designation1" ></label>
                                <label for="from1">From:
                                <input type="text" name="from[]" id="from1" class="dates" ></label>
                                <label for="to1">To :
                                <input type="text" name="to[]" id="to1" class="dates"  ></label>
                            </div>
    
                            <input type="hidden" name="workid[]" id="work2"  >
                            <div class="exp">
                                <label for="companyname2">Company Name:
                                <input type="text" name="companyname[]" id="companyname2" ></label>
                                <label for="designation2">Designation:
                                <input type="text" name="designation[]" id="designation2"  ></label>
                                <label for="from2">From:
                                <input type="text" name="from[]" id="from2" class="dates"  ></label>
                                <label for="to2">To :
                                <input type="text" name="to[]" id="to2" class="dates" ></label>
                            </div>
                            <input type="hidden" name="workid[]" id="work3">
                            <div class="exp">
                                <label for="companyname3">Company Name:
                                <input type="text" name="companyname[]" id="companyname3"  ></label>
                                <label for="designation3">Designation:
                                <input type="text" name="designation[]" id="designation3"  ></label>
                                <label for="from3">From:
                                <input type="text" name="from[]" id="from3" class="dates"  ></label>
                                <label for="to3">To :
                                <input type="text" name="to[]" id="to3" class="dates"  ></label>
                            </div>
                        </div>
                   

                    </fieldset>
                </div>

            </div>


            <div class="four">

           
                <div class="langtech">
                    <div class="lang">
                        <fieldset>
                            <legend>
                                <h4>Language Known</h4>
                            </legend>

                            <div class="langdetail">
                                <div>
                                    <input type="checkbox" name="lang1" id="hindi" value="hindi" class="lang1" >
                                    <label for="hindi">Hindi</label>
                                </div>

                                <div class="check">
                                    <input type="checkbox" name="langcheck1[]" id="read1" value="read" >
                                    <label for="read1">Read</label>
                                    <input type="checkbox" name="langcheck1[]" id="write1" value="write" >
                                    <label for="write1">Write</label>
                                    <input type="checkbox" name="langcheck1[]" id="speak1" value="speak">
                                    <label for="speak1">Speak</label> <br><br>
                                </div>
                            </div>

                            <div class="langdetail">
                                <div>
                                    <input type="checkbox" name="lang2" id="gujrati" value="gujrati" class="lang1" >
                                    <label for="gujrati">Gujrati</label>
                                </div>
                                <div class="check">
                                    <input type="checkbox" id="read2" name="langcheck2[]" value="read" >
                                    <label for="read2">Read</label>
                                    <input type="checkbox" id="write2" name="langcheck2[]" value="write" > 
                                    <label for="write2">Write</label>
                                    <input type="checkbox" id="speak2" name="langcheck2[]" value="speak">
                                    <label for="speak2">Speak</label> <br><br>
                                </div>
                            </div>

                            <div class="langdetail error">
                                <div>
                                    <input type="checkbox" name="lang3" value="english" id="english" class="lang1">
                                    <label for="english">English</label>
                                </div>

                                <div class="check">
                                    <input type="checkbox" id="read3" name="langcheck3[]" value="read" >
                                    <label for="read3">Read</label>
                                    <input type="checkbox" id="write3" name="langcheck3[]" value="write" >
                                    <label for="write3">Write</label>
                                    <input type="checkbox" id="speak3" name="langcheck3[]" value="speak">
                                    <label for="speak3">Speak</label> <br><br>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                    <div class="tech">
                        <fieldset>
                            <legend>
                                <h4>Technology you Know</h4>
                            </legend>

                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="php" id="php" value="php" class="tech1" >
                                    <label for="php">PHP</label>
    
                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="phptech" id="beginner1" value="Beginner" >
                                    <label for="beginner1">Beginner</label>
                                    <input type="radio" name="phptech" id="midetor1" value="Midetor" >
                                    <label for="midetor1">Midetor</label>
                                    <input type="radio" name="phptech" id="expert1" value="Expert" >
                                    <label for="expert1">Expert</label><br><br>
                                </div>
                            </div>
                            
                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="mysql" id="mysql" value="mysql" class="tech1" >
                                    <label for="mysql">Mysql</label>
                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="mysqltech" id="beginner2" value="Beginner" >
                                    <label for="beginner2">Beginner</label>
                                    <input type="radio" name="mysqltech" id="midetor2" value="Midetor" >
                                    <label for="midetor2">Midetor</label>
                                    <input type="radio" name="mysqltech" id="expert2" value="Expert" >
                                    <label for="expert2">Expert</label><br><br>
                                </div>
                            </div>
                           
                           
                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="oracle" id="oracle" value="oracle" class="tech1" >
                                    <label for="oracle">Oracle</label>
                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="oracletech" id="beginner3" value="Beginner" >
                                    <label for="beginner3">Beginner</label>
                                    <input type="radio" name="oracletech" id="midetor3" value="Midetor" >
                                    <label for="midetor3">Midetor</label>
                                    <input type="radio" name="oracletech" id="expert3" value="Expert" >
                                    <label for="expert3">Expert</label><br><br>
                                </div>
                            </div>
                            
                            


                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="laravel" id="laravel" value="oracle" class="tech1" >
                                    <label for="laravel">laravel</label>
                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="laraveltech" id="beginner4" value="Beginner" >
                                    <label for="beginner4">Beginner</label>
                                    <input type="radio" name="laraveltech" id="midetor4" value="Midetor" >
                                    <label for="midetor4">Midetor</label>
                                    <input type="radio" name="laraveltech" id="expert4" value="Expert" >
                                    <label for="expert4">Expert</label>
                                </div>
                            </div>
                           
                          
                        </fieldset>

                    </div>
                </div>

            </div>

            <div class="five">

                <div class="refer">
                    <fieldset>
                        <legend>
                            <h4>Reference Contact</h4>
                        </legend>
                 

                        <div class="refs">
                            <input type="hidden" name="refid[]" id="ref1">
                            <div class="ref">
                                <label for="name">Name:
                                    <input type="text" name="name[]" id="name"  ></label>
                                <label for="contactnum">Contact Number:
                                    <input type="text" name="contactnum[]" id="contactnum" class="refnumber" ></label>
                                <label for="relation">Relation:
                                    <input type="text" name="relation[]" id="relation"  ></label> <br><br>
                            </div>
                            <input type="hidden" name="refid[]" id="ref2">
                            <div class="ref">
                                <label for="name">Name:
                                    <input type="text" name="name[]" id="name1"   ></label>
                                <label for="contactnum">Contact Number:
                                    <input type="text" name="contactnum[]" id="contactnum1" class="refnumber"  ></label>
                                <label for="relation">Relation:
                                    <input type="text" name="relation[]" id="relation1"  ></label>
                            </div>
                        </div>
                      
                    </fieldset>
                </div>
            </div>

            <div class="six">

           
                <div class="prefer">
                    <fieldset>
                        <legend>
                            <h4>Preference</h4>
                        </legend>
                        <div class="pref1">
                            <label for="prefloc">Prefered Location
                                <select name="prefloc" id="prefloc" class="required">
                                    <option value="">Select option</option>
                                    <option value="Ahmedabad" >Ahmedabad</option>
                                    <option value="Rajkot" >Rajkot</option>
                                </select></label>
                            <label for="noticeperiod">Notice Period:
                                <input type="text" name="noticeperiod" id="noticeperiod" class="required"  ></label>
                            <label for="department">Department
                                <select name="department" id="department" class="required">
                                    <option value="" >Select option</option>
                                    <option value="development">Development</option>
                                    <option value="design"  >Design</option>
                                    <option value="marketing"  >Marketing</option>
                                </select></label>
                        </div>


                        <div class="pref2">
                            <label for="expectedctc">Expected CTC
                                <input type="text" name="expectedctc" id="expectedctc" class="required"  ></label>
                            <label for="currentctc">Current CTC
                                <input type="text" name="currentctc" id="currentctc" class="required"  ></label>
                        </div>


                    </fieldset>

                </div>

            </div>

            <div class="btn1" id=" btn1">
                <input type="submit" id="prev"  value="prev">
                <input type="submit"  id="next" value="next" >
     
    </div>

               
            </form>
        </div>
    </div>






    <script src="/public/script3.js"></script>
    
    <script src="/public/result.js"></script>

</body>

</html>