<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-1</title>

    <link rel="stylesheet" href="/public/dashboard.css">
</head>

<body>

    <table>

       <div class="main">
        <H1 class="d1">DASHBOARD</H1>
        <h2>Name :Yashvi Soladhra</h2>
        <h3>Employee id :24DEV097</h3>

       </div>     
       
        <div class="dashboard">
            <tr>
                <td><a href="/kuku " target="_blank">kuku-cube</a></td>
                
                <td><a href="/textacteo" target="_blank">Tec-Tac-Toe</a></td>
                <td><a href="/job" target="_blank">Job-Insert-update</a></td>
            </tr>
            <tr>
                <td><a href="/attendance/page" target="_blank">Attendence </a></td>
                <td><a href="/shchar" target="_blank">Delimiter search</a></td>
               
           
                <td><a href="/bubblesort" target="_blank">Bobble sort</a></td>
            </tr>
           
            <tr>
                <td><a href="/events" target="_blank">Events</a></td>
               <td><a href="/result/page" target="_blank">Result</a></td> 
                <td><a href="/pagination_asc_dec/pages" target="_blank">Pagination</a></td>
            </tr>
    
            <tr>
              
                <td><a href="/dynamic" target="_blank">Daynamic-table</a></td>
                <td><a href="/pagefilter/page" target="_blank">page orderby</a></td>
                <td><a href="/" target="_blank">Ajex insert update</a></td>
            </tr>

            <tr>
                <td><a href="/html1" target="_blank">webpage</a></td>
                <td><a href="/html2" target="_blank">webpage2</a></td>
            </tr>
            
        </table>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Log Out" class="submit" id="submit">
                </td>
               
            </tr>
        </tbody>
        </div>
       
</body>
</html>
<script>
    let logout = document.getElementById("submit");
    logout.addEventListener("click", async function (e) {

    e.preventDefault();
        let datas = await fetch(`http://localhost:8200/logout`,
            {
                method: "get",
                headers: {
                    "Content-Type": "application/json"
                }

            });

        let d = await datas.json();
        console.log(d);

        if (d.success == true) {
          window.location="/log"

        }
        else {

            box.innerHTML = d.message
            box.style.color = "red"
        }
 });
</script>
