<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/html2.css">
</head>

<body style="background-color:#F2F0E6;">
    <section class="section">
        <div class="container">
            <div class="row">

                <div class="header1" style="align-items: center; justify-content: center;">
                    <img src="/img/HireX_black.png" alt="" style="margin-right: 200px;Height:20px">

                </div>

                <div class="header2" style="align-items: center;">
                    <a href=""> Work </a>
                    <a href="">About us</a>
                    <a href="">Blogs</a>
                    <a href="">FAGs</a>
                    <a href="">Contect us</a>

                    <a href=""
                        style=" padding: 4px 4px 4px 4px; background-color: black;color: white; border-radius: 5px;">
                        We'r Hiring<img src="/img/arrow-right.svg" alt="" style="padding-left: 9px;">
                    </a>

                </div>
            </div>


        </div>
    </section>
    <section class="section2">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <div>
                            <p>WELCOME TO HIREX. </p>


                        </div>
                        <div>
                            <img src="/img/Star 1.png" alt="" height="20px" width="20px"
                                style="padding-top: 15px;"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="award">Award Winning Digital Agency</div>

                    </div>
                    <div class="digital">
                        Digital Agency offering unique solutions to create digital presence and increase your sales.
                    </div>
                    <div>
                        <input type="text" placeholder="Enter your email address" class="email"><button
                            class="btn">Request access</button>
                    </div>
                    <div>
                        <p class="p1">Open Account and Get 5 Boxes</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="circle">
                        <img src="/img/image 2 (Traced).png" alt="" style="padding-left: 100px;">
                        <p class="web">Web Design</p>
                    </div>
                    <div class="c2">
                        <img src="/img/image 6 (Traced).png" alt="">
                        <p class="web1">Social Midia</p>
                    </div>
                    <div class="c3">
                        <p class="web2">UIX Design</p>
                        <img src="/img/image 1 (Traced).png" alt="" height="50px"
                            style="padding-left: 100px;">

                    </div>
                    <img src="/img/Group 6.png" alt="" style="padding-left: 400px;">
                </div>
            </div>
        </div>
    </section>
    <section class="section3" style="background-color: black; color: white;">
        <marquee class="marq" direction="left to right" loop="">
            <div class="container">
                <div class="row">
                    <div class="col-3" style="padding-bottom: 10px;">

                        <p class="p2">GET ACCESS NOW <img src="/img/image-fBLQvAFN1-transformed 1.png"
                                alt="" height="50px">
                            <img src="/img/Line 4.png" alt="">
                        </p>

                    </div>
                    <div class="col-3">

                        <p class="p2">GET ACCESS NOW
                            <img src="/img/image-fBLQvAFN1-transformed 1.png" alt="" height="50px"> <img
                                src="/img/Line 4.png" alt="">
                        </p>
                    </div>
                    <div class="col-3">

                        <p class="p2">GET ACCESS NOW
                            <img src="/img/image-fBLQvAFN1-transformed 1.png" alt="" height="50px"> <img
                                src="/img/Line 4.png" alt="">
                        </p>
                    </div>
                </div>
            </div>
        </marquee>
    </section>
    <section class="section4" style="padding-top: 20px;">
        <div class="container">

            <div>
                <butto class="btn2">Service</button>
                    <p class="p3">How Hirex. Work</p>
                    <p style="text-align: center;">The awesome people who makes all this possible</p>
            </div>
            <div class="row2">
                <div class="col-4" style="text-align: center;">
                    <p class="p4">START HERE</p>
                    <p class="p5">Who we are & what we do</p>
                    <img src="/img/Designer _Flatline 1.png" alt="">
                    <button class="btn" style="color: rgb(247, 242, 242);background: 
                            linear-gradient(0deg, #389B48, #389B48);
                            ">START HERE <img src="/img/arrow-right.svg" alt="" height="10px"></button>
                </div>
                <div class="col-4" style="text-align: center;">
                    <p class="p4">SCUSTOM DESIGN</p>
                    <p class="p5">We’ll design your projects</p>
                    <img src="/img/Notifications_Flatline 1.png" alt="">
                    <button class="btn" style="color: rgb(247, 242, 242);background: 
                         rgba(255, 187, 56, 1)
                            ">START HERE <img src="/img/arrow-right.svg" alt="" height="10px"></button>
                </div>
                <div class="col-4" style="text-align: center;">
                    <p class="p4">CONTACT US</p>
                    <p class="p5">Drop us your
                        message!</p>
                    <img src="/img/Fortnite_Two Color 1.png" alt="" height="230px">
                    <button class="btn" style="color: rgb(247, 242, 242);
                            background:
linear-gradient(0deg, #FC7F3A, #FC7F3A);

                            ">START HERE <img src="/img/arrow-right.svg" alt="" height="10px"></button>
                </div>
            </div>
        </div>


    </section>
    <section class="section5">
        <div class="conatiner">
            <div class="row">
                <div class="col-7">
                    <div class="">
                        <button class="works">Works</button>
                    </div>
                    <div class="works2">
                        Find our latetest works

                    </div>
                    <p class="works3">The awesome people who makes all this possible</p>
                    </p>
                </div>

            </div>
            <div class="row5">
                <div class="col-8">

                    <img src="/img/Rectangle 13.png" alt="" width="500px">
                    <button class="btn4">Web design</button>
                    <p class="w3">Website Design For Digital Agency</p>
                    <p class="w3" style="font-size: small;">Build a unique Website with HireX Template</p>
                    <a href="" class="w3" style="margin-left: 15px;"> Read More
                        <img src="/img/arrow-right-black.svg" alt="" height="10px">
                    </a>

                </div>
                <div class="col-8">

                    <img src="/img/Rectangle 13-1.png" alt="">
                    <button class="btn4">3D Design</button>
                    <p class="w3">Realistic 3d Model of Living Room</p>
                    <p class="w3" style="font-size: small;">Build a unique Website with HireX Template</p>
                    <a href="" class="w3" style="margin-left: 15px;"> Read More <img
                            src="/img/arrow-right-black.svg" alt="" height="10px">
                        <button class="btn5" style="margin-left:100px;">View All
                            <img src="/img/arrow-right-black.svg" alt="" height="10px"></button>
                    </a>


                </div>

            </div>
        </div>

    </section>
    <section class="section6" style="padding-top: 20px;">
        <div class="container">

            <div>

                <p class="p3">Plans & Pricing </p>
                <p style="text-align: center;">The awesome people who makes all this possible</p>
            </div>
            <div class="row2">
                <div class="col-6" style="text-align: center;">
                    <div class="ya">
                        <p class="p5" id="p5">Free</p>
                        <p  class="p5"><b id="p5" >$0</b>\MONTHS</p>
                        <p  class="p5">Start free while you learn more about our services</p>
                        <hr>

                    </div>
                   
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p class="p5" >
                            Free forever get the basic essentials</p>

                    </div>
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p  class="p5">
                            Advanced security and performance</p>
                    </div>
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p class="p5" >
                            Unlimited unhosted sites</p>
                    </div>
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p class="p5" >
                            Live support</p>
                    </div>
                    <button class="btn7">Get started </button>



                </div>
                <div class="col-6" style="text-align: center;">
                    <div class="ya">
                        <p class="p5" id="p5">Basic</p>
                    <p  class="p5"><b id="p5" >$19</b>\MONTHS</p>
                    <p class="p5">Get powerful tools to make your business grow</p>
                    <hr>
                    </div>
                    
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p class="p5" >
                            Free forever get the basic essentials</p>

                    </div>
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p class="p5">
                            Advanced security and performance</p>
                    </div>
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p class="p5">
                            Unlimited unhosted sites</p>
                    </div>
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p class="p5">
                            Live support</p>
                    </div>
                    <button class="btn7">Get started </button>
                </div>
                <div class="col-6" >
                    <div class="ya">
                        <p class="p5" id="p5">PRO</p>
                    <p class="p5"><b  id="p5">$99</b>\MONTHS</p>
                    <p class="p5">Take your business to the next level with our tools</p>
                    <hr>
                    </div>
                    
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p class="p5" >
                            Free forever get the basic essentials</p>

                    </div>
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p class="p5" >
                            Advanced security and performance</p>
                    </div>
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p class="p5" >
                            Unlimited unhosted sites</p>
                    </div>
                    <div class="box">
                        <img src="/img/Vector 4.png" alt="" class="arrow2">
                        <p class="p5" >
                            Live support</p>
                    </div>
                    <button class="btn8">Get started </button>
                </div>

            </div>
        </div>


    </section>
    <section class="section7" style="background-color:rgba(100, 227, 121, 1) ;">
        <div class="conatainer">
            <div class="row">

                
                <div class="col-9">
                   
                    <img src="/img/testimonials-img.png" alt="" class="img1">
                  
                </div>
                <div class="col-9" style="padding-top: 50px;">
                    <p style="color: black;" class="c1">"We select to practice in Minerva since it is both useful, and
                        our clients basically adore it! It has stood the test of time and proceeds"</p>

                    <p style="color: black;">Abel Carden is a TikTok personality and lip-sync content creator who has
                        built a fanbase of more than 3.2 million followers on the platform.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section8">
        <div class="container">
            <div class="row8">
                <div>
                    <button class="btn6">Blog</button>
                    <p class="updated">Stay updated</p>
                </div>
            </div>
            <div class="row8">
                <div class="col-10">
                    <img src="/img/Rectangle 19.png" alt="" width="470px">
                    <button class="btn4">Web design</button>
                    <p class="w4">We Launch Minerva Template this Week!</p>
                    <p class="w3" style="font-size: small;">Build a unique Website with HireX Template</p>
                    <a href="" class="w3" style="margin-left: 15px;"> Read More<img
                            src="/img/arrow-right.svg" alt="" height="10px">
                    </a>
                </div>
                <div class="col-10">
                    <img src="/img/Rectangle 20.png" alt="" width="470px">


                    <button class="btn4">Web design</button>
                    <p class="w4">Introducing the Non-Code Webflow Guide</p>
                    <p class="w3" style="font-size: small;">Build a unique Website with HireX Template</p>
                    <a href="" class="w3" style="margin-left: 15px;"> Read More<img
                            src="/img/arrow-right.svg" alt="" height="10px">
                    </a>
                </div>
            </div>


        </div>
        </div>
    </section>
    <section class="section9" style="background-color: rgba(255, 200, 10, 1);">
        <div class="container">
            <div class="row">
                <div class="col-11">
                    <p class="s9">Get our latests news & updates</p>

                    <p>NAME</p>
                    <hr>
                    <p>EMAIL</p>
                    <hr>
                    <p>SUBSCRIBE<img src="/img/arrow-right-black.svg" alt=""
                            style="margin-left: 400px;"></p>

                    <hr>

                </div>
                <div class="col-11">
                    <p style="padding-top: 90px;">We select to practice in Minerva since it is both useful and
                        commonsense, and our clients basically adore it</p>
                    <button class="btn4" style="background-color: rgba(255, 200, 10, 1)">BOOK A CALL</button>

                </div>
            </div>
        </div>
    </section>
    <section class="section10" style="background-color: black; color: white;">
        <div class="container">
             
            <div class="row">

                <div class="col-11">


                    <p class="p10">THANK YOU FOR YOUR VISIT
                       
                        <img src="/img/Line 4 (copy).png" alt="" width="40px">

                    </p>

                </div>
                <div class="col-11" style="display: flex;">

                    <p class="p10">THANK YOU FOR YOUR VISIT

                    </p>
                    <img src="/img/Group 59.png" alt=""
                        style="margin-left: 15px; padding-top: 10px; height: 30px;">
                </div>
                <div class="col-11">

                    <p class="p10">THANK YOU FOR YOUR VISIT

                    </p>
                </div>

            </div>
            </marquee>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12" style="width: 100%;">
                    <img src="/img/HireX_black.png" alt="">
                    <hr>
                </div>

            </div>
            <div class="row">
                <div class="col-13">
                    <p style="font-size: small;">product</p>
                    <p>Platform</p>
                    <p>Store Overview</p>
                    <p>Email Report</p>
                    <p>Portfolio</p>
                </div>
                <div class="col-13">
                    <p style="font-size: small;">Resources</p>
                    <p>Case Studies</p>
                    <p>Product Guides</p>
                    <p>Reports
                    </p>
                    <p>Blog
                    </p>
                    <p>FAQ</p>
                </div>
                <div class="col-13">
                    <p style="font-size: small;">Company</p>
                    <p>Careers
                    </p>
                    <p>Contact Sales
                    </p>
                    <p>Contact Support</p>

                </div>
                <div class="col-13">
                    <p style="font-size: small;">Partners</p>
                    <p>Partner With Us</p>
                </div>
            </div>
            <div class="row">
                <div>
                    <p style="font-size: small;">Terms and Conditions
                        Privacy Policy</p>
                </div>
                <div>
                    <p style="font-size: small; padding-left: 800px;">©HIREX, Inc. 2022</p>
                </div>
            </div>

        </div>
    </footer>


   
</body>

</html>
<script>
      var scrollImages = document.querySelector(".row-7");
        console.log(scrollImages);
        function rightscroll() {
            scrollImages.scrollBy({
                left: 300,
                bahaviour: "smooth"
            });
        }
        function leftscroll() {
            scrollImages.scrollBy({
                left: -300,
                bahaviour: "smooth"
            });
        }
</script>