<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/img/fontawesome-free-6.5.1-web/css/all.css">
    <link rel="stylesheet" href="/public/html1.css">
</head>

<body style="background-color: #F9F7EE;">
    <section class="section">
        <div class="container">
            <div class="row">

                <div class="header1" style="align-items: center; justify-content: center;">
                    <img src="/img/Group 3478.png" alt="" style="margin-right: 200px;">

                </div>

                <div class="header2" style="align-items: center;padding-top: 20px;">
                    <a href=""> Hosting </a>
                    <a href="">Intigration</a>
                    <a href="">Prising</a>
                    <a href="">Comunity</a>
                    <a href="" style=" border:  1px solid blue;padding: 4px 4px 4px 4px;">Login</a>

                </div>
            </div>
            <hr style="color: #f5f7fa">

        </div>
    </section>
    <section class="section2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="hh" style="font-size:70px;"> Hosting Services for Your website</h1>
                    <p class="hh">Easily and realiably host a website for your bussiness, organization,or project while
                        retaining complete control over your site's underlying infrastructure.</p>
                    <button class="btn">Let started</button>
                    <button class="btn1">Get Migration Help</button>

                </div>

                <div>
                    <img src="/img/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="">
                </div>

            </div>
            <img src="/img/arrow-down.png" alt=""
                style="padding-top: 20px; padding-bottom: 30px;">
        </div>
    </section>
    <section class="section3">
        <div class="container">
            <div class="row1">
                <div class="col1">

                    <p style="color:#0A2259 ;">Those Who Have Experienced The Best Performance</p>
                </div>
                <div class="col1">
                    <img src="/img/Telkom Indonesia Logo.png" alt="">
                </div>
                <div class="col1">
                    <img src="/img/Jetstar Airways Logo.png" alt="">
                </div>
                <div class="col1">
                    <img src="/img/Nescafe Logo.png" alt="">
                </div>
                <div class="col1">
                    <img src="/img/Lenovo Logo.png" alt="">
                </div>
            </div>
        </div>

    </section>
    <section class="section4">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="/img/Group 3552.png" alt="">
                </div>
                <div class="col-2">
                    <h2 class="hh" style="font-size:50px;">Boost the Speed of Your Website</h2>
                    <div class="row">
                        <div class="col-3">
                            <h3 class="h3">Faster Build Process</h3>
                            <p>We can speed up the process of creating your website</p>
                        </div>
                        <div class="col-3">
                            <h3 class="h3">Fast Delivery</h3>
                            <p>Our purchases and services can be completed quickly</p>
                        </div>
                        <div class="col-3">
                            <h3 class="h3">Fast Access Speed</h3>
                            <p>Superb network indfrastucture and hardware to support fast and stable access</p>
                        </div>
                        <div class="col-3">
                            <h3 class="h3">24/7 Faster Service</h3>
                            <p>We have a response time of less than 180 seconds, avilable 24 hours a day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section5">
        <div class="container">

            <div>
                <p class="p1">Host Any Website with Our Fully Managed Services</p>
            </div>
            <div class="row2">
                <div class="col-4">
                    <div class="y1">
                        <div style="align-items: center; ">
                            <h4 style="align-items: center;"><img src="/img/cloud-sunny.png"
                                    alt="">Cloud
                                Hosting</h4>
                        </div>
                        <div>
                            <p>Cloud Hosting is a good fit for those of you who are building
                                websites,portfolios,blogs,and other systems</p>
                        </div>

                    </div>

                    <p class="p2"><b style="font-size: 40px;">$5.9/</b>month</p>
                    <button class="btn3">More Detail</button>



                </div>
                <div class="col-4">
                    <div class="y1">
                        <h4 style="align-items: center;"><img src="/img/buildings.png" alt="">Corporate
                        </h4>


                        <p>Provides business-related hosting services such as websites or management systems for
                            companies</p>
                    </div>
                    <p class="p2"> <b style="font-size: 40px;">$19/</b>month</p>
                    <button class="btn3">More Detail</button>





                </div>
                <div class="col-4">
                    <div class="y1">
                        <h4 style="align-items: center;"><img src="/img/driver.png" alt="">Cloud VPS
                        </h4>
                        <p>Ascalable fully-managed virtual private server we build and optimize specifically for your
                            website.</p>
                    </div>

                    <p class="p2"><b style="font-size: 40px;">$19/</b>month</p>
                    <button class="btn3">More Detail</button>

                </div>
                <div class="col-4">
                    <div class="y1">
                        <h4 style="align-items: center;"><img src="/img/monitor-mobbile.png"
                                alt="">Dedicated</h4>
                        <p>Your mission-critical website requires the performance and security of a dedicated physical
                            server.</p>
                    </div>

                    <p class="p2"><b style="font-size: 40px;">$29/</b>month</p>
                    <button class="btn3">More Detail</button>



                </div>
            </div>
        </div>
        </div>

    </section>
    <section class="section6" style="padding-bottom: 90px;">
        <div class="container">
            <div class="row">
                <div class="tab">
                    <button class="tablinks" onclick="openwordpress(event, 'wordpress')" id="defaultOpen"
                        style="font-size: 30px;padding-right: 20px;color:#6A88B6 ;">
                        <i class="fa-brands fa-wordpress"
                            style="font-size: 40px; color:#6A88B6;padding-left: 5px;padding-bottom: 20px;padding-top: 25px; ">
                        </i>Wordprees</button>
                    <button class="tablinks" onclick="openwordpress(event, 'wordpress')"
                        style="font-size: 30px;padding-right: 20px;color:#6A88B6 ;"><i class="fa-brands fa-magento"
                            style="font-size: 40px; color:#6A88B6;padding-left: 5px;padding-bottom: 20px; ">
                        </i>Magento</button>
                    <button class="tablinks" onclick="openwordpress(event, 'wordpress')"
                        style="font-size: 30px;padding-right: 20px;color:#6A88B6 ;">
                        <i class="fa-brands fa-laravel"
                            style="font-size: 40px; color:#6A88B6;padding-left: 5px;padding-bottom: 20px; ">
                        </i>Laravel</button>
                    <button class="tablinks" onclick="openwordpress(event, 'wordpress')"
                        style="font-size: 30px;padding-right: 20px;color:#6A88B6 ;">
                        <i class="fa-brands fa-php"
                            style="font-size: 40px; color:#6A88B6;padding-left: 5px;padding-bottom: 20px; ">
                        </i>php</button>
                </div>

                <div id="wordpress" class="tabcontent">
                    <h3 style="color:  #0A2259; line-height: 40px; font-size: 30px;">The Best Managed cloud Hosting for
                        Wordpress</h3>
                    <p style="color: #AAAAAA ;">We live and breathe Wordpress. Our managed hosting for Wordpress
                        wooCommerce takes away cloud server related hassles so you can scale your
                        website the way you want. </p>
                    <table>
                        <tr>
                            <td style="color: black; line-height: 40px;"> <img src="/img/Vector.png"
                                    alt="" width="15px">Unlimited Bendwidth</td>
                            <td style="color: black;"><img src="/img/Vector.png" alt=""
                                    width="15px">Network speed</td>
                        </tr>
                        <tr>
                            <td style="color: black; line-height: 40px;"><img src="/img/Vector.png"
                                    alt="" width="15px">Turbo power</td>
                            <td style="color: black;"><img src="/img/Vector.png" alt=""
                                    width="15px">extream freedom</td>
                        </tr>

                    </table>
                    <button class="btn">Start Free Trial</button>
                </div>
               

            </div>
        </div>
    </section>
   
    <section class="section5">
        <div class="container">
            <div class="row">
                <div class="feel" style="font-size: 40px;">
                    <P> How our Customers feel about us</P>
                </div>


                <div class="mainarr">
                    <div class="arr1">
                        <a onclick="leftscroll()">
                            <img src="/img/arrow-right.png" alt="" height="20px"
                                style="padding-left: 400px;">
                        </a>
                    </div>
                    <div class="arr">
                        <a onclick="rightscroll()">
                            <img src="/img/arrow-down.png" alt="" height="20px"
                                style="padding-left: 400px;">
                        </a>
                    </div>
                </div>


            </div>
            <div class="row-7" id="seven">


                <div class="col-7" style="text-align: center;color: #5A7184; ">
                    <div class="imgcard"> <img src="/img/profile.png" alt=""  style="align-items: center;justify-content: center;"></div>
                    <div style="text-align: center;">
                        <img src="/img/Star 2.png" alt="" >
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                    </div>
                    <div>
                        <p style="text-align: center;">Thanks to the Awan Hoster, I was guided step-by -step until it was finished</p>
                    </div>
                    <div style="text-align: center;">
                        <b style="color: black;">Gay Hawkins</b>
                    </div>
                    <div>
                        <p style="text-align: center;">Manager</p>
                    </div>

                </div>
                <div class="col-7" style="text-align: center; color: #5A7184; ">
                    <div class="imgcard"> <img src="/img/profile.png" alt=""></div>
                    <div>
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                    </div>
                    <div>
                        <p>Thanks to the Awan Hoster, I was guided step-by -step until it was finished</p>
                    </div>
                    <div>
                        <b style="color: black;">Gay Hawkins</b>
                    </div>
                    <div>
                        <p>Manager</p>
                    </div>

                </div>
                <div class="col-7" style="text-align: center; color: #5A7184; ">
                    <div class="imgcard"> <img src="/img/profile.png" alt=""></div>
                    <div>
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                    </div>
                    <div>
                        <p>Thanks to the Awan Hoster, I was guided step-by -step until it was finished</p>
                    </div>
                    <div>
                        <b style="color: black;">Gay Hawkins</b>
                    </div>
                    <div>
                        <p>Manager</p>
                    </div>

                </div>
                <div class="col-7" style="text-align: center; color: #5A7184; ">
                    <div class="imgcard"> <img src="/img/profile.png" alt=""></div>
                    <div>
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                    </div>
                    <div>
                        <p>Thanks to the Awan Hoster, I was guided step-by -step until it was finished</p>
                    </div>
                    <div>
                        <b style="color: black;">Gay Hawkins</b>
                    </div>
                    <div>
                        <p>Manager</p>
                    </div>

                </div>
                <div class="col-7" style="text-align: center; color: #5A7184; ">
                    <div class="imgcard"> <img src="/img/profile.png" alt=""></div>
                    <div>
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                    </div>
                    <div>
                        <p>Thanks to the Awan Hoster, I was guided step-by -step until it was finished</p>
                    </div>
                    <div>
                        <b style="color: black;">Gay Hawkins</b>
                    </div>
                    <div>
                        <p>Manager</p>
                    </div>

                </div>
                <div class="col-7" style="text-align: center; color: #5A7184; ">
                    <!-- <div class="imgcard"> <img src="./practical_2/assets/profile.png" alt=""></div> -->
                    <div>
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                    </div>
                    <div>
                        <p>Thanks to the Awan Hoster, I was guided step-by -step until it was finished</p>
                    </div>
                    <div style="color: black;">
                        <b>Gay Hawkins</b>
                    </div>
                    <div>
                        <p>Manager</p>
                    </div>

                </div>

                <div class="col-7" style="text-align: center; color: #5A7184; ">
                    <!-- <div class="imgcard"> <img src="./practical_2/assets/profile.png" alt=""></div> -->
                    <div>
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                        <img src="/img/Star 2.png" alt="">
                    </div>
                    <div>
                        <p>Thanks to the Awan Hoster, I was guided step-by -step until it was finished</p>
                    </div>
                    <div>
                        <b style="color: black;">Gay Hawkins</b>
                    </div>
                    <div>
                        <p>Manager</p>
                    </div>

                </div>


            </div>

        </div>

        </div>
    </section>

    <section class="section8">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="hh" style="font-size:50px;"> Try It Now and Stop Dobting Anything Else</h1>
                    <p class="hh">With Awan Hoster's Money Back Guarantee, you can try the best service reliability</p>
                    <button class="btn">Start Free Trial</button>
                    <button class="btn1">See All Plans</button>

                </div>

                <div>
                    <img src="/img/Group 1000008788.png" alt="">
                </div>

            </div>

        </div>
    </section>
    <footer style="background-color:  #0A2259">
        <div class="container">
            <div class="row">
                <div class="col-f">
                    <div>
                        <img src="/img/logo-white.png" alt="">
                        <p style="color: white;">We provide you with the best hosting solution for your website.</p>
                        <i class="fa-brands fa-facebook" style="color: white;padding-left: 20px;"></i>
                        <i class="fa-brands fa-twitter" style="color: white;padding-left: 20px;"></i>
                        <i class="fa-brands fa-instagram" style="color: white; padding-left: 20px;"></i>
                        <i class="fa-brands fa-youtube" style="color: white; padding-left: 20px;"></i>
                        <i class="fa-brands fa-meta" style="color: white; padding-left: 20px;"></i>


                    </div>
                </div>
                <div class="col-f">
                    <div class="y2">
                        <h4>Company</h4>
                        <p>About</p>
                        <p>Blog</p>
                        <p>Leadership</p>
                        <p>Careers</p>
                        <p>Legal</p>
                    </div>

                </div>
                <div class="col-f">
                    <div class="y3">
                        <h4>Products</h4>
                        <p>Api</p>
                        <p>pricing</p>
                        <p>Documentation</p>
                        <p>Release Notes</p>

                    </div>

                </div>
                <div class="col-f">
                    <div class="y3">
                        <h4>Contact</h4>
                        <p>Support</p>
                        <p>Sales</p>
                        <p>Report Abuse</p>
                        <p>System Stutus</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <script>
         function openwordpress(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
             tabcontent[i].style.display = "none";
            }
             tablinks = document.getElementsByClassName("tablinks");
             for (i = 0; i < tablinks.length; i++) {
                 tablinks[i].className = tablinks[i].className.replace(" active", "");
             }
             document.getElementById(cityName).style.display = "block";
             evt.currentTarget.className += " active";
         }
         document.getElementById("defaultOpen").click();

         
        var scrollImages = document.querySelector(".row-7");
        console.log(scrollImages);
        function rightscroll() {
            scrollImages.scrollBy({
                left: 300,
                bahaviour: "smooth"
            });
        }
        function leftscroll() {
            scrollImages.scrollBy({
                left: -300,
                bahaviour: "smooth"
            });
        }



    </script>
</body>

</html>