<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .p1
    {
        background-color: black;
        color: white;
        height: 30px;
        border: 2px solid white;
       
    }
   
</style>



    <h1>yashvi soladhra</h1>
    <h2>24DEV097</h2>


    <table style="text-align: center;">
        <tr  class="p1">
            <td  class="p1">FIRSTNAME</td>
            <td  class="p1">LASTNAME</td>
            <td  class="p1">MIDDALNAME</td>
            <td  class="p1">CITY</td>
            <td  class="p1">STATE</td>
            <td  class="p1">COUNTRY</td>
        </tr>
        <tr  class="p1">
            <td class="p1">_</td>
            <td class="p1">^</td>
            <td class="p1">$</td>
            <td class="p1">{</td>
            <td class="p1">}</td>
            <td class="p1">:</td>
        </tr>
    </table>

<body>

    
    <form action="/spsearch" method="post">


        <input type="text" name="select" style="height: 20px; " autofocus>
        <input type="submit" value="Go">

    </form>






    <% if (result.length==0){%>
        <p>no data</p>

        <%}%>
            <% if(result.length!==0) {%>
                <%-include("page")%>
                    <%}%>


</body>

</html>